@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Добавить статью";
    var userId = User.Identity.GetUserId<string>();
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Create", "Article", FormMethod.Post))
{
    @Html.Partial("_Form", new TaskBlog.ViewModels.ArticleViewModel() { UserId = userId })
}

