@using Microsoft.AspNet.Identity
@model TaskBlog.PresentationLayer.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Редактировать статью";
    var userId = User.Identity.GetUserId<string>();
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Update", "Article", FormMethod.Post))
{
    @Html.Partial("_Form", Model)
}