@model IEnumerable<TaskBlog.PresentationLayer.ViewModels.ArticleViewModel>
@{
    ViewBag.Title = "TaskBlog";
}

<h2 class="text-center">Популярные статьи</h2>
<hr />
    @if (Model.Count() > 0)
    {
        @ArticleHelpers.ArticlesList(Model)
    }
    else
    {
        <div class="ms-empty">
            <span class="text-center">Не опубликовано ни одной статьи</span>
        </div>
    }

@*@Html.Partial("_Form", new TaskBlog.PresentationLayer.ViewModels.ArticleViewModel())*@

@section scripts{
    <script>
        $('.bootstrap-tagsinput').tagsinput({
            confirmKeys: [13, 32, 44]
        });

        $('.bootstrap-tagsinput').on('keypress', function (e) {
            if (e.keyCode == 13) {
                e.keyCode = 44;
                e.preventDefault();
            };
        });
    </script>
}