@using System.Web.Mvc.Html
@*хелпер для вывода комментариев*@
@helper CommentsList(IEnumerable<TaskBlog.PresentationLayer.ViewModels.CommentViewModel> comments)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    foreach (var c in comments)
    {
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>@c.Name</strong>
                            <span class="text-muted">@c.DateTime</span>
                            <div class="pull-right">
                                @Html.ActionLink("Delete", "Delete", "Comment", new { id = c.Id }, null)
                            </div>
                        </div>
                        <div class="panel-body">
                            @c.Description
                        </div>
                    </div>
                </div>
            </div>
    }
}