.ms-footer{
    background-color: #2e852e;
    color: white;
    text-align: center;
    min-height: 80px;
    padding: 20px;
    border-top: 1px dashed #99ffbb;
}

.ms-comment-area{
    background-color: #FAFAFA;
	padding: 15px;
    margin-top: 20px;
	border: 1px dashed green;
    border-radius: 5px;
}

.ms-form-area{
	background-color: #FAFAFA;
	padding: 20px 25px;
	margin: 10px 150px;
	border: 1px dashed green;
    border-radius: 5px;
}

.ms-vidget-area{
    background-color: #FAFAFA;
	padding: 10px 20px 10px;
	border: 1px dashed green;
    font-size: 14px;
}

.ms input,
.ms select,
.ms textarea{
	max-width: inherit;
}

.ms-empty{
    min-height : 300px;
    padding: 120px;
    margin: 20px 100px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px dashed green;
    color: forestgreen;
    text-align:center;
}

.ms-footer a{
     color: #99ffbb;
}

.ms-tags-panel a{
    color: white;
}

.ms-sidebar-menu{
    margin: 5px;
    padding: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px dashed green;
}

ul.ms-sidebar-menu{
    list-style-type: none;
}

.ms-sidebar-menu-item{
    padding: 10px;
    color: forestgreen;
    border-top: 1px dashed green;
}

.ms-sidebar-menu-item{
    padding: 10px;
    color: forestgreen;
    border-top: 1px dashed green;
}

.ms-sidebar-menu-item:first-child{
    border-top: none;
}

.ms-sidebar-menu-item:hover{
    background-color: forestgreen;
    color: #99ffbb;
}

.ms-sidebar-menu-item:hover a{
    color: #99ffbb;
}

.ms-navbar{
    margin-bottom: 0;
    background-color: #0b7a0b;/*#1d381d;*/
    border-top: 1px dashed #99ffbb;
    border-bottom: 1px dashed #99ffbb;
}

.ms-navbar a{
    color: #99ffbb;
}

/*.ms-sidebar{
    background-color: #caf9ca;
}*/

.ms-main{
    border-left: 1px solid forestgreen;
}

.ms-danger{
    background-color: peachpuff;
}