<div class="row">
    <div class="ms ms-form-area col-md-8">
        @using (Html.BeginForm("CreateMany", "Tag", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3 class="form-head">Добавить категории</h3>
                <div class="form-group">                
                    @Html.TextArea("tags", new { @placeholder = "Категории (категория1, категория2, ...)", @class = "form-control", @rows = "10" })
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Добавить" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>