@model TaskBlog.ViewModels.TagViewModel[]
@{
    ViewBag.Title = "Категории";
}

<h2 class="text-center">Категории</h2>
<div class="row">
    @CategoryHelpers.CategoryList(Model)
</div>
<hr/>
@if (User.IsInRole("admin"))
{
    @Html.Partial("_Form")
}
